<!doctype html>


<html lang="en">
  <head>
    	<title>CRYPTEX 3.0</title>
	<meta charset="UTF-8">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext" rel="stylesheet">
	<meta name="google-signin-client_id" content="422518868827-qp8ira64ustigep769opa3cjf7cr4d8t.apps.googleusercontent.com">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/landing/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/landing/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/landing/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/landing/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/landing/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/landing/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/landing/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/landing/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/landing/css/util.css">
	<link rel="stylesheet" type="text/css" href="/landing/css/main.css">
<!--===============================================================================================-->
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/Navbar/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">


 <link rel="prefetch" href="/Navbar/img/zoom.png">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0%;">
		<a href="#"><img src="/image/fossfinal.png" alt="FOSSCELLCET" width="70px" height="70px"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav navbar-right">
          <a class="nav-item nav-link" href="https://www.facebook.com/drishticryptex" style="font-size: 20px;">Clues</a>

			<a class="nav-item nav-link" href="/leaderboard" style="font-size: 20px;">Scoreboard</a>
      <a class="nav-item nav-link" href="/levels" style="font-size: 20px;">Challenges</a> <span class="sr-only">(current)</span></a>

      <a class="nav-item nav-link" href="/logout" style="font-size: 20px;">Logout</a>
		  </div>
		</div>
	  </nav>

    <link rel="stylesheet" href="css/styles.css">
    <style type="text/css">
    @media screen and (min-width: 480px) {
          #question {
              width: 90%;
              height: 100%;
              margin-top: 20vh;
              margin-bottom: 35vh;
          }
           #qimg{
        margin-top: 7vh;
      }
      #ans{
        margin-top: 7vh;
      }

      }
       #question
      {
        width:90%;
         height:80%;
         margin-top: 10vh;
        margin-bottom: 5vh;
      }
      #qimg{
        margin-top: 2vh;
      }
      #ans{
        margin-top: 2.5vh;
        width:65%;
      }


      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: grey;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>

        </div>
      </div>

   <div class="android-content mdl-layout__content">
        <a name="top"></a>

      </div>
    </div>

    <div class="container">
      <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12" align="center"  id="qimg">
          <img src="/LvlImg/kjzncjb.jpeg"  id="question">
        </div>
        <div class="col-md-2"></div>
      </div>


        <div class="row" >
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12" align="center">
          <main class="mdl-layout__content">


      <!--<div class="mdl-card__supporting-text">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input " type="text" id="answer" style="color:black" />
            <label class="mdl-textfield__label" for="answer" style="color:black"></label>
          </div>-->

            <form action="/checkAnswer" method="get">
  <div class="form-group" id="ans" align="center">
    <input type="text" class="form-control" id="aform" aria-describedby="emailHelp" placeholder="Answer" name="answers">
    <br>
    <button type="submit" class="btn" style="background-color: #605e5d;color: white; padding-right: 25px;padding-left: 25px;">GO</button>
  </div>


        </form>


      </div>
      <!--<div class="mdl-card__actions ">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect  " style="margin-top: -50px"><a style="color:white">GO</a></button>
      </div>-->

  </main>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>


  </body>

    <!--===============================================================================================-->
    	<script src="/landing/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    	<!-- <script src="/landing/vendor/animsition/js/animsition.min.js"></script> -->
    <!--===============================================================================================-->
    	<script src="/landing/vendor/bootstrap/js/popper.js"></script>
    	<script src="/landing/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
</html>
